@import '/assets/style/_variables.css';

.banner{
    background-image: url('/assets/img/elipse.svg');
    background-repeat: no-repeat;
    width: 100%;
}

.banner-content{
    display: flex;
}
.text-area {
    float: left;
    margin-top: 7.5rem;
    padding-left: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 30px;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 20px;
    color: #717b8b;
    font-size: 20px;
}


@media(max-width:768px){
    .banner-content{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .text-area {
        margin: 10px;
        padding: 0;
    }
}
