@import '/assets/style/_variables.css';

.banner-content{
    display: flex;
}
.text-area {
    float: left;
    margin-top: 7.5rem;
    padding-left: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 1.6em;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 1.25rem;
    color: #717b8b;
    font-size: 1.1em;
}

.elipse {
    width: 105rem;
    height: 62rem;
    margin:1.25px;
    position: absolute;
    left: -8rem;
    top: -26.3rem;
    shape-outside: ellipse(50% 50%);
    clip-path: ellipse(50% 50%);
    background: linear-gradient(#bce93c, #71dc3f);
    z-index: -1;
}

