.benefits {
    width: 100%;
}

.benefits-title{
    font-family: var(--font-principal);
    font-weight: 600;
    font-size: 1.6em;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.benefits-subtitle {
    font-family: var(--font-principal);
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--cinza);
    font-size: 1.1em;
    padding-top: 70px;
}

.cards-benefits {
    display: flex;
}

.card-img {
    margin-top: 2rem;
}

.card-title {
    font-size: 1.25rem;
    color: var(--preto);
    margin-top: 1.25rem;
}

.cards-group {
    display: flex;
}

.card-benefits {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 30px;
    -webkit-box-shadow: 4px 4px 20px rgba(0,0,0,0.1);
    box-shadow: 4px 4px 20px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;

}

.benefits-list {
    padding: 1rem 1.875rem;
}

.benefits-list__item {
    font-family: var(--font-principal);
    font-weight: 500;
    font-size: 14px;
    color: var(--cinza);
    font-style: normal;
    font-weight: 400;
}