.benefits {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
}

.benefits-title{
    font-weight: 600;
    font-size: 30px;
}

.benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    color: var(--cinza);
    font-size: 20px;
    padding-top: 70px;
}

.cards-benefits {
    display: flex;
}

.card-img {
    margin-top: 30px;
}

.card-title {
    font-size: 20px;
    color: var(--preto);
    margin-top: 20px;
    padding: 0 5px;
}

.cards-group {
    display: flex;
}

.card-benefits {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 30px;
    -webkit-box-shadow: 4px 4px 20px rgba(0,0,0,0.1);
    box-shadow: 4px 4px 20px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    min-width: 320px;
}

.benefits-list {
    padding: 16px 30px;
}

.benefits-list__item {
    font-weight: 500;
    font-size: 14px;
    color: var(--cinza);
    font-style: normal;
    font-weight: 400;
}

@media(max-width:768px){
    .cards-group {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
