.clients {
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
}

.clients-title {
    margin-bottom: 30px;
    font-weight: 600;
}

.clients-logo {
    display: flex;
    justify-content: center;
}

.client-logo {
    padding: 0 10px;
}