@import '_variables.css';

.depoiment {
    padding-top: 65px;
    padding-bottom: 65px;
    background-color: var(--cinza-claro);
    font-size: 20px;
}   

.depoiment-title {
    font-size: 30px;
}

.depoiment-subtitle {
    color: var(--cinza);
}

.aspas{
    height: 40px;
    top: -20px;
    left: -130px;
    position: relative;
}

.depoiment-cards {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}

.depoiment-card{
    border-radius: 10px;
    max-width: 540px;
    margin: 10px;
}

.img-card {
    padding: 20px;
}

.card-name {
    font-weight: 700;
    font-size: 16px;
}

.card-text {
    color: var(--cinza);
    font-weight: 400;
}

@media(max-width:1000px){
    .depoiment-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .img-card {
        width: 50%;
    }
}