.integration {
    margin-top:  100px;
    margin-bottom: 100px;
    text-align: center;
}

.integration-title {
    font-weight: 600;
} 

.integration-logos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.integration-logo {
padding: 0 10px;
}

@media(max-width:768px){
    .integration-logos {
        flex-direction: row;
        flex-wrap: wrap;    
    }

    .integration-logo{
        padding: 10px;
    }
}