@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import '/assets/style/_variables.css';

* {
    font-family: var(--font-principal);
}

.font {
    font-weight: 600;
    color: var(--preto);
}
