@import '/assets/style/_variables.css';

.system {
    background-color: var(--cinza-claro);
    padding-top: 140px;
    padding-bottom: 100px;
}

.system-content {
    display: flex;
}

.system-title {
    font-weight: 600;
}

.system-list {
    margin-top: 50px;
}

.system-list__item{
    list-style: none;
    padding-left: 5px;
    margin-bottom: 30px;
    
}

.system-list__item__paragrafo{
    margin-left: 35px;
}

.ico-list {
    position: absolute;
}

.system-imgs {
    transform: rotate(5deg);
    display: flex;
    padding: 0;
}

.system-img {
    width: 55%;
}

.ml-5 {
    margin-left: 40px;
}

@media(max-width:768px){
    .system-content {
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center;
    }
    .system-img{
        width: 40%;
    }
}